.coolTitle {
    animation: animateH1 2s ease-in-out;
  margin-top: 8rem;
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 5rem;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: #d8ae47;
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}
body {
	font-family: arial;
    font-size: 1rem;
    background-image: linear-gradient(to right,#92b6d5, #4c6a92);
    text-align: center;
    
}

.done {
  text-decoration: line-through;
  color:red;
 
}
.borderRed {
  border: 1px solid red;
}
.borderGreen {
  border: 1px solid rgb(162, 234, 7);
}

ul {
    list-style-type: none;
    margin:3rem auto;
    padding: 20px;
    width: 60vw;
    text-align: left;
    line-height: 1.6rem;
}
ul li {
  color:rgb(162, 234, 7);
}

#enter {
	background-color: #333333;
	font-size: 1rem;
	padding: 1rem;
	margin:0 auto;
	color: white;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #000000;
	cursor: pointer;
	transition: 0.2s;
}

#enter:hover {
	background-color: #00BB00;
	transform: scale(1.1);
}
#userinput {
  padding:1rem;
  margin-top: 2rem;
  max-width:60%;
  line-height: 1.4rem;
  font-size: 1.5rem;
}

.item {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.item li {
  font-size:2rem;
}
.delete {
  background-color: red;
  color:white;
   margin: 0 1rem; 
  padding:0 1rem;
  height:2rem;
}
.delete:hover {
	background-color: #DD0000;
	color: white;
	transform: scale(1.1);
}
.todo {
  width: 40rem;
  padding:.4rem;
  margin: .2rem 2rem;
}
.reset {
  background-color:yellow;
  color:black;
  font-weight: bold;
  padding:.5rem 2rem;
  border-radius: 4px;
}
.reset:hover {
  background-color:red;
  color:white;
  transform: scale(1.1);
}


//MEDIA QUERIES
@media screen and (device-width: 320px) {
  .coolTitle {
    margin-top: 1rem;
    font-size: 2rem; 
  }
  .item li {
  font-size:1rem;
  }
  
  ul {
    margin: 0 .1rem .1rem 0;
    width:90vw;
  }
  #userinput {
    margin-top: 1rem;
    width:100%;
    line-height: .7rem;
    font-size: 1rem;
  }
  .todo {
    margin: .1rem auto;
  }

}

@keyframes animateH1{
  from {
    transform: translateX(-30rem);
  }
  to {
    transform: translateX(0);
  }

}
